.Notifications {
  padding: 1em;
  border: 2px dashed red;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 33px;
  width: 30vw;
  }

  li[data-notification-type="default"] {
    color: blue;
  }
  
  li[data-notification-type="urgent"] {
    color: red;
  }
  .menuItem {
    text-align: right;
  }